body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 10px 5px;
  color: #337AB7;
}

a {
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  background-color: #337AB7;
  color: white;
}

td {
  padding: 15px;
}

label {
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  padding-top: 1.5px;
  padding-left: 10px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

form {
  display: inline-flex;
  vertical-align: middle;
}

.info_sort {
  background-color: #337AB7;
  height: 24px;
  position: absolute;
  top: 68%;
}

.info_form {
  background-color: #eae8e1;
  height: 38px;
  margin-top: 5px;
  padding-top: 7.6px;
  color: #337AB7;
}

.info_status_select {
  height: 23px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

input {
  height: 23px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.info_back {
  height: 70px;
}

.info_back a {
  height: 40px;
  font-size: 25px;
  margin: 20px;
  margin-left: 15px;
  padding: 10px;
  position: absolute;
  top: 70%;
  background-color: #eae8e1;
  color: #337AB7;
}

.info_sort a {
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 3px 3px;
  outline-color: #474a4d;
  margin-top: 25px;
  margin-left: 30px;
  width: 80%
}

.td3, .td4, .td5, .td6, .td7, .td8 {
  text-align: center;
  vertical-align: middle;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
